* {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: #f1f1f1;
  }
  
  body {
    background-color: rgb(18, 18, 18);
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 1.2em 10%;
    margin: auto;
    align-items: center;
    border-bottom: 1px #f1f1f1 solid;
  }
  
  .navbar .left h3{
    color: #D14FEE;
    font-style: italic;
    font-size: 24px
  }
  
  .navbar .right {
    display: flex;
    justify-content: space-between;
    gap: 2em;
    font-weight: 600;
  }
  
  .navbar .right a {
    opacity: 80%;
    transition: ease-in 0.2s;
    font-size: small;
  }
  
  .navbar .right a:hover {
    color: aqua; 
    transform: scale(1.2);
    animation: anim 0.5s;                                                               
}

@keyframes anim {
    0%{
        color: white;
    }
    50%{
        color: blue;
    }
    100%{
        color: aqua;
    }
}
  
  .active {
    color: #9ca6fd;
    font-weight: bolder;
  }
  
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #f1f1f1;
    padding: 1em 0;
  
    width: 100%;
  }
  
  .footer h5 {
    font-size: 16px;
  }
  
  .footer p {
    font-size: 12px;
  }
  
  @media only screen and (max-width: 900px) {
    body {
      background-color: rgb(32, 32, 32);
    }
  
    .nav .right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 0.5em;
    }
  }
  
  .content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  